*~
c++/memory/placementSyntax
c++/behavioral/dynamicDecorator
c++/behavioral/mixinDecorator
c++/concurrency/messageQueue
c++/concurrency/future
c++/concurrency/observer
c++/creation/singleton
c++/creation/factory

