*~
c++/memory/placementSyntax
c++/structural/dynamicDecorator
c++/structural/mixinDecorator
c++/structural/composite
c++/concurrency/messageQueue
c++/concurrency/future
c++/concurrency/observer
c++/creation/singleton
c++/creation/factory

